<!DOCTYPE html>
<html>
    <head>
        <title>Angular JS - Controller</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="myApp">
               
        <div ng-controller="MyController">
            <input ng-model="customSpice">
            <button ng-click="spicy('chili')">Chili</button>
            <button ng-click="spicy(customSpice)">Custom spice</button>
            <p>The food is {{spice}} spicy!</p>
        </div>

        <script src="../../js/lib/angular.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript"></script>                
        <script src="controllers.js" type="text/javascript"></script>                
    </body>
</html>
