/* app css stylesheet */


h1 {
    background-color: #EEE;
    border: 1px solid black;
    padding: 0.1em;
    text-align: center;
    
}


ul.phone {
    list-style: none;
}

ul.phone li {
    width: 300px;
    float: left;
    height: 300px;
    padding: 0.5em;
    border: 5px solid black;
    background-color: #FFF;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
}

ul.phone li:hover {
  
    border: 5px solid blue;
    background-color: #eee;
    
}

ul.phone img {
  
   width: 250px;
    
}

.content {
    text-align: center;
}

